h1 {
	color: white;
	font-size: 4rem;
	background-color: rgba(0, 0, 0, 0.37);
	display: block;
	width: fit-content;
	border-radius: 40px;
	padding: 10px 30px;
	border: 2px solid black;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 20vh;
	background-image: url("../img/programation-banniere-desktop.png");
}
#crazyFoodMenu {
	background-image: url("../img/crazy-food/salad-8385520_640.jpg");
	background-size: cover;
	width: 20vw;
	height: 90%;
}
#appArea {
	height: 60vh;
	border: 1px solid green;
	background-color: lightblue;
	display: flex;
	justify-content: center;
	align-items: center;
}
#navProjectBar {
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	background-color: rgba(10, 10, 10, 0.767);
}
#crazyFood {
	width: 80vw;
	height: 65vh;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid greenyellow;
	background-color: aqua;
}
.imgMenu {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 25px;
	border: 2px solid beige;
}
.appTitle {
	font-size: 1.2rem;
	background-color: rgba(255, 255, 255, 0.5);
	border: 2px solid beige;
	padding: 5px;
	border-radius: 25px;
}
img {
	width: 18px;
}
#weaponBox {
	width: 20vw;
	border: 2px solid greenyellow;
}

.weaponBuy,
#cagnotte {
	display: flex;
	flex-direction: row;
	border: 1px solid orange;
	justify-content: space-between;
	padding: 10% 0%;
}
#cranDarret,
#hokutoDeCuisine,
#hachoir,
#katana,
#chainsaw {
	display: none;
}
.radioGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#levelFrame {
	border-top: 3%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#playFrame{
	display: grid;
}
#innerGraphics {
	background-image: url("../img/crazy-food/kitchen-7167309_1280.png");
	background-size: cover;
	width: 50vw;
	height: 50vw;
	position: relative;
	justify-self: flex-start;
}
#innerStats{
	justify-self: center;
}
#dogBowl {
	position: absolute;
	top: 60%;
	right: 50%;
	width: 50%;
	transform: translate(50%, -50%);
	filter: drop-shadow(-5px 22px 9px #000000);
}
#heatlhGroup {
	position: absolute;
	top: 12%;
	right: 50%;
	transform: translate(50%, 0%);
}
#healthBar {
	background: rgb(77, 164, 13);
	background: linear-gradient(
		100deg,
		rgba(77, 164, 13, 1) 0%,
		rgba(95, 255, 0, 0) 100%
	);
	width: 70px;
	height: 10px;
	border: 2px solid green;
	border-radius: 25px;
}
#mobPlaceHolder {
	position: absolute;
	top: 50%;
	right: 50%;
	width: 30%;
	transform: translate(50%, -50%);
}
#hitEffect1,
#hitEffect2,
#hitEffect3 {
	position: absolute;
	position: absolute;
	transform: translate(50%, -50%);
	width: 12%;
	pointer-events: none;
	display: none;
}
#hitEffect1 {
	top: 46%;
	right: 50%;
}
#hitEffect2 {
	top: 51%;
	right: 42%;
}
#hitEffect3 {
	top: 56%;
	right: 61%;
}
#healthNumber {
	text-align: center;
}
#bottomBlock {
	display: flex;
	justify-content: space-evenly;
	height: 70%;
}
#divRadio2,
#divRadio3,
#divRadio4,
#divRadio5 {
	/* display:none; */
}
#evilMagicRumble {
	display: none;
}
#evilMagicRumble:checked ~ #appArea{
	background-color: #000000;
}
#evilMagicRumble:checked ~ #mobPlaceHolder {
	/* Start the shake animation and make the animation last for 0.5 seconds */
	animation: shake 0.5s;

	/* When the animation is finished, start again */
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% {
		transform: translate(51%, -51%) rotate(0deg);
	}
	10% {
		transform: translate(49%, -51%) rotate(-1deg);
	}
	20% {
		transform: translate(47%, -50%) rotate(1deg);
	}
	30% {
		transform: translate(53%, -48%) rotate(0deg);
	}
	40% {
		transform: translate(51%, -49%) rotate(1deg);
	}
	50% {
		transform: translate(49%, -48%) rotate(-1deg);
	}
	60% {
		transform: translate(47%, -49%) rotate(0deg);
	}
	70% {
		transform: translate(53%, -49%) rotate(-1deg);
	}
	80% {
		transform: translate(49%, -51%) rotate(1deg);
	}
	90% {
		transform: translate(51%, -48%) rotate(0deg);
	}
	100% {
		transform: translate(51%, -52%) rotate(-1deg);
	}
	
}
#buttonBlock{
	display:flex;
	justify-content: space-evenly;
	margin-bottom: 3%;
}
.crazyFoodButton {
	width: 20%;
	text-align: center;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size: 0.8rem;
	padding:7px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.crazyFoodButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
/* .crazyFoodButton:active {
	position:relative;
	top:1px;
} */
@media screen and (max-width: 480px) {
	header{
		height: 15vh;

	}
	#navProjectBar{
		height: 10vh;
	}
	#crazyFood{
		height:65vh;
	}
	#appArea{
		height: 75vh;
	}
	h1 {
		font-size: 2rem;
	}
	header {
		background-image: url("../img/programation-banniere-mobile.png");
	}
	#crazyFoodMenu {
		width: 45vw;
	}
}
