body{
    background-color: black;
    position: relative;
    color:white;
    
}
#toTheTopArrow{
    top:90vh;
    right: 50%;
    transform: translate(50%,-50%);
    position:fixed;
    width: 10vw;
}
#toTheTopImg{
    width: 10vw;
}
h1{
    font-size: 100px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-top: 10vh;
    height: 50vh;
}
#firstBlock{
    height: 100vh;
}
#blocContact{
    background-color: white;
    border-radius: 50px;
    margin:auto;
    padding:15px 50px;
    display:flex;
    justify-content: space-evenly;
    
}
.contactIcon{
    height:50px;

}