html,body{

    overflow-y: hidden;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    position: relative;
    color:white;
    display: inline;
    /* width:900vw; */
    
}
#toTheTopArrow{
    top:90vh;
    right: 50%;
    transform: translate(50%,-50%);
    position:fixed;
    width: 10vw;
}
#toTheTopImg{
    width: 10vw;
}
h1{
    font-size: 100px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-top: 10vh;
    height: 50vh;
}
.block{
    height: 100vh;
    border: 2px solid red;
}
.blocContact{
    background-color: white;
    border-radius: 50px;
    margin:auto;
    padding:15px 50px;
    display:flex;
    justify-content: space-evenly;
    
}
.contactIcon{
    height:50px;

}
.backGroundBlock{
    background-color: white;
    border-radius: 50px;
    width: 90vw;
    height: 90vh;
    color:black;
    margin:auto;
    border: 5px solid beige;
    margin-top:10px;
    text-align: center;
}