html,
body {
	overflow-y: hidden;
	scroll-behavior: smooth;
}
body {
	background-color: black;
	position: relative;
	color: white;
	display: inline;
	/* width:900vw; */
}
#toTheTopArrow,
.blocContact {
	top: 90vh;
	right: 50%;
	transform: translate(50%, -50%);
	position: fixed;
	border: 5px solid beige;
}
#toTheTopArrow {
	z-index: 3;
	border-radius: 50%;
	border-bottom: 0;
	top: 83.5vh;
}
#toTheTopImg {
	width: 10vw;
	border-radius: 50%;
	background-color: white;
}
h1 {
	font-size: 80px;
	font-weight: 900;
	color: white;
	text-align: center;
	margin-top: 10vh;
	height: 50vh;
}
.block {
	height: 100vh;
}
.blocContact {
	background-color: white;
	border-radius: 50px;
	margin: auto;
	padding: 15px 50px;
	display: flex;
	justify-content: space-evenly;
}
.contactIcon {
	height: 50px;
}
.backGroundBlock {
	background-color: white;
	border-radius: 50px;
	width: 90vw;
	height: 90vh;
	color: black;
	margin: auto;
	border: 5px solid beige;
	margin-top: 10px;
	text-align: center;
    background-image: url("../img/fond2.jpg");
    background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
    -webkit-text-stroke: 1px #fff;
    font-size:2.5rem;
}
.backGroundBlock>h3{
    font-size: 4rem;
}
.linkButtons {
	border: 3px solid beige;
	background-color: white;
	border-radius: 25px;
	padding: 10px 20px;
	text-decoration: none;
	width: 30%;
	text-align: center;
    
}
#buttonsDiv {
	display: flex;
	justify-content: space-evenly;
}
