#section1{
    width: 50vw;
    height:100vh;
    position:relative;
}
.right,.left{
    display: inline-block;
    width: 50%;
    height: 100%;
    border: 1px solid red;
    box-sizing: border-box;
    letter-spacing: 0rem;
}
#animStepOne{
    display:none;
    width: 400px;
    border: 2px solid black;
    transform-origin: 100% 50%; /*origine de la transformation X Y*/
    animation: leftToRight 500ms; /*selection animation : nom + temps*/
    position: absolute;
    left:15px;
    top:5px;
}
#animStepTwo{
    display:none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
    animation: maryPopIn 500ms;
    position: absolute;
}
#animStepThree{
    top:15px;
    left:5px;
    display:none;
    height: 200px;
    width: 0px;
    border: 2px solid black;
    transform-origin: 50% 0%;
    animation: topToBot 500ms; 
    position: absolute;
}
#animStepFour{
    top:220px;
    display:none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
    animation: maryPopIn 500ms;
    position: absolute;
}
#animStepFive{
    display:none;
    width: 400px;
    border: 2px solid black;
    transform-origin: 0% 50%;
    animation: leftToRight 500ms;
    position: absolute;
    top:225px;
    left:15px;
}
#animStepSix{
    top:220px;
    left:420px;
    display:none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
    animation: maryPopIn 500ms;
    position: absolute;
}
#animStepSeven{
    top:235px;
    left:425px;
    display:none;
    height: 200px;
    width: 0px;
    border: 2px solid black;
    transform-origin: 50% 0%;
    animation: topToBot 500ms; 
    position: absolute;
}
#animStepEight{
    top:425px;
    left:360px;
    display:none;
    width: auto;
    height: auto;
    animation: maryPopIn 500ms;
    position: absolute;
    transform-origin: 50% 0%;
}
.test{
    padding: 5px;
    border:1px solid red;
    background-color: lightcoral;
    color:white;
    display:block;
    width: fit-content;
    border-radius: 25px;
}
@keyframes topToBot{
    0% {
        transform: scaleY(0);
    }
    10% {
        transform: scaleY(0.1);
    }
    20% {
        transform: scaleY(0.2);
    }
    30% {
        transform: scaleY(0.3);
    }
    40% {
        transform: scaleY(0.4);
    }
    50% {
        transform: scaleY(0.5);
    }
    60% {
        transform: scaleY(0.6);
    }
    70% {
        transform: scaleY(0.7);
    }
    80% {
        transform: scaleY(0.8);
    }
    90% {
        transform: scaleY(0.9);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes leftToRight{
    0% {
        transform: scaleX(0);
    }
    10% {
        transform: scaleX(0.1);
    }
    20% {
        transform: scaleX(0.2);
    }
    30% {
        transform: scaleX(0.3);
    }
    40% {
        transform: scaleX(0.4);
    }
    50% {
        transform: scaleX(0.5);
    }
    60% {
        transform: scaleX(0.6);
    }
    70% {
        transform: scaleX(0.7);
    }
    80% {
        transform: scaleX(0.8);
    }
    90% {
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes maryPopIn{
    0% {
        transform: scale(0);
    }
    10% {
        transform: scale(0.1);
    }
    20% {
        transform: scale(0.2);
    }
    30% {
        transform: scale(0.3);
    }
    40% {
        transform: scale(0.4);
    }
    50% {
        transform: scale(0.5);
    }
    60% {
        transform: scale(0.6);
    }
    70% {
        transform: scale(0.7);
    }
    80% {
        transform: scale(0.8);
    }
    90% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}